<ion-content style="color: #0a431b;">
  <body style="background-color: #323337;">

    <h1 id="title">Hey! I'm Spencer</h1>

    <mat-card id="contactCard"> 

      <mat-card-title id="cardTitle">Spencer Parry</mat-card-title>
    </mat-card>


    <nav class="navbar fixed-bottom justify-content-center" id="bottomNav">
      <a class="navbar-brand" id="navLink" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="navbar-brand" id="activePage" routerLink="/about" routerLinkActive="active">About</a>
      <a class="navbar-brand" id="navLink" href="/home">Experience</a>
      <a class="navbar-brand" id="navLink" href="/home">Skills & Interests</a>
      <a class="navbar-brand" id="navLink" href="/home">Portfolio</a>
    </nav>
  </body>

</ion-content>
