<ion-content id="part1" >
 <ion-text>
  <h1 id="name">
    Spencer Parry  
 </h1>
 </ion-text>

<h2 id="nameTitle">
  Web Programmer | Software Engineer | Cloud Developer
</h2>


<ion-item id="socialLinkContainer">
  <a href="https://www.facebook.com/spencer.parry1"><ion-icon  name="logo-facebook" id="socialIcon"></ion-icon></a>
  <a href="https://twitter.com/sparry997"><ion-icon  name="logo-twitter" id="socialIcon"></ion-icon></a>
  <a href="https://www.instagram.com/_spencer_parry/"><ion-icon name="logo-instagram" id="socialIcon"></ion-icon></a>
  <a href="https://github.com/sparry997"><ion-icon name="logo-github" id="socialIcon"></ion-icon></a>
  <a href="https://www.linkedin.com/in/spencer-parry/"><ion-icon name="logo-linkedin" id="socialIcon"></ion-icon></a>
</ion-item>

<nav class="navbar fixed-bottom justify-content-center" id="bottomNav">
  <a class="navbar-brand" id="activePage" href="/home">Home</a>
  <a class="navbar-brand" id="navLink" href="/about">About</a>
  <a class="navbar-brand" id="navLink" href="/home">Experience</a>
  <a class="navbar-brand" id="navLink" href="/home">Skills & Interests</a>
  <a class="navbar-brand" id="navLink" href="/home">Portfolio</a>
</nav>

</ion-content>