#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#part1{
  --background: none;
 background-image: url('/assets/IMG_2153.jpeg') ;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 
}

#name{

  transform: translateX(-50%) translateY(-50%);
  top: 40%;
  left: 50%;
  position: absolute;
  //background-color: rgba(40,61,40,0.9);
  background-color: rgba(0,0,0);
  backdrop-filter: blur(5px);
  padding:10px;
  opacity: 0.6;
  border-radius: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 6rem;
  color:White;
  white-space: nowrap;


}

#nameTitle {

  transform: translateX(-50%) translateY(-50%);
  top: 55%;
  left: 50%;
  position: absolute;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color:white;
  //background-color: rgba(40,61,40,0.9);
  background-color: rgba(0,0,0);
  backdrop-filter: blur(5px);
  padding:10px;
  opacity: 0.6;
  white-space: nowrap;
  



}

@media screen and (max-width: 700px) {
  #name {
    font-size: 3rem;
  }
  #nameTitle{
    top:50%;
    font-size: 16px;
  }
}
// @media screen and (max-width: 1000px) {
//   #name {
//     font-size: 50px;
//   }
//   #nameTitle{
//     font-size: 12px;
//   }
// }

#bottomNav {
  background-color: black;
  backdrop-filter: blur(5px);
  opacity: .6;

}

#navLink {
  font-family: 'Comfortaa', cursive;
  color:white;
  opacity: 1;
}

#navLink:hover {
  font-family: 'Comfortaa', cursive;
  color:white;
  text-decoration: underline;
}

#activePage {
  font-family: 'Comfortaa', cursive;
  text-decoration: underline;
  color: white;
}

#socialLinkContainer {
  transform: translateX(-50%) translateY(-50%);
  top: 65%;
  left: 50%;
  position: absolute;
  --ion-background-color: transparent;
}

#socialIcon{
  font-size: 50px;
  padding: 10px;
  color: black;
}

#socialIcon:hover {
  color:white;
}
